input[type=text], input[type=button], input[type=email], input[type=password], input[type=submit] {
    width             : 100%;
}

h1 {
    font-family        : serif;
    text-align         : center;
    color              : #377ba8;
    background-color   : lightgray;
}

input[type=button], input[type=submit] {
    border-color        : black;
    border-width        : 1px;
    border-radius       : 4px;
    color               : white;
    cursor              : pointer;
    display             : inline-block;
    font-size           : 14px;
    height              : 40px;
    text-align          : center !important;
    background          : #074b99;
}

input[type=button]:hover, input[type=submit]:hover {
    background          : #ec663b;
}

.ppal {
    width:30vw; height: 45vh; padding:16px; border-radius: 10px; background-color: #ccc; position: absolute; top:30vh; left:35vw;
}

.login {
    width:30vw; padding:16px; border-radius: 10px; background-color: #ccc; position: absolute; top:40vh; left:35vw;
}

.c1 {
    width      : 10%;
    display    : inline;
    float      : left;
    overflow-x : hidden;
}

.c2 {
    width      : 20%;
    display    : inline;
    float      : left;
    overflow-x : hidden;
}

.c3 {
    width      : 30%;
    display    : inline;
    float      : left;
    overflow-x : hidden;
}

.c4 {
    width      : 40%;
    display    : inline;
    float      : left;
    overflow-x : hidden;
}

.c5 {
    width      : 50%;
    display    : inline;
    float      : left;
    overflow-x : hidden;
}

.c6 {
    width      : 60%;
    display    : inline;
    float      : left;
    overflow-x : hidden;
}

.c7 {
    width      : 70%;
    display    : inline;
    float      : left;
    overflow-x : hidden;
}

.c8 {
    width      : 80%;
    display    : inline;
    float      : left;
    overflow-x : hidden;
}

.fila {
    height      : 30px;
}

body {
    font-family  : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input:invalid {
    border        : 1px dashed red;
}
