<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Bubalus Arnee - Dashboard</title>
    <link href="estilo.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class='header'>
        <div>

            <div class='c2'>
                <a href="home.html">
                    <img class='img-header' src="Imagenes/logo.png" alt="Social Bubalus Arnee"  title = "Inicio">
                </a>
            </div>

            <div class='c5'>
                
                <input type="search" placeholder = "Buscar"/>
            </div>

            <div class='c3-header'>
                <div>
                    <img class="foto-perfil" src="Imagenes/usuario.png" alt="Usuario">
                    
                </div>
                <div class='txt_centrado'>
                    <div>Nombre Usuario</div>
                
                    <div><a href="configuracion.html">Configuración</a></div>
                </div>
                </div>

        </div>
        
    </header>
    <div class='fila'> </div>
    
    <hr>
    <div>
        <div>
            <h2 style='text-align:Left;'>Resultado de Busqueda</h2>
        </div>
        <br>
        <div>
            <div class='banda'>
                <div class='c2'>
                    <div>
                        <a href="usuario.html">
                            <div class='txt_centrado'>Usuario 1</div>
                            <br>
                            <img src="Imagenes/usuario.png">
                        </a>
                    </div>
                </div>
                <div class='c2'>
                    <div>
                        <a href="usuario.html">
                            <div class='txt_centrado'>Usuario 2</div>
                            <br>
                            <img src="Imagenes/usuario.png">
                        </a>
                    </div>
                </div>
                <div class='c2'>
                    <div>
                        <a href="usuario.html">
                            <div class='txt_centrado'>Usuario 3</div>
                            <br>
                            <img src="Imagenes/usuario.png">
                        </a>
                    </div>
                </div>
                <div class='c2'>
                    <div>
                        <a href="usuario.html">
                            <div class='txt_centrado'>Usuario 4</div>
                            <br>
                            <img src="Imagenes/usuario.png">
                        </a>
                    </div>
                </div>
                <div class='c2'>
                    <div>
                        <a href="usuario.html">
                            <div class='txt_centrado'>Usuario 5</div>
                            <br>
                            <img src="Imagenes/usuario.png">
                        </a>
                    </div>
                </div>

            </div>
            <br>
            <div>
                <div class='banda'>
                    <div class='c2'>
                        <div>
                            <a href="usuario.html">
                                <div class='txt_centrado'>Usuario 6</div>
                                <br>
                                <img src="Imagenes/usuario.png">
                            </a>
                        </div>
                    </div>
                    <div class='c2'>
                        <div>
                            <a href="usuario.html">
                                <div class='txt_centrado'>Usuario 7</div>
                                <br>
                                <img src="Imagenes/usuario.png">
                            </a>
                        </div>
                    </div>
                    <div class='c2'>
                        <div>
                            <a href="usuario.html">
                                <div class='txt_centrado'>Usuario 8</div>
                                <br>
                                <img src="Imagenes/usuario.png">
                            </a>
                        </div>
                    </div>
                    <div class='c2'>
                        <div>
                            <a href="usuario.html">
                                <div class='txt_centrado'>Usuario 9</div>
                                <br>
                                <img src="Imagenes/usuario.png">
                            </a>
                        </div>
                    </div>
                    <div class='c2'>
                        <div>
                            <a href="usuario.html">
                                <div class='txt_centrado'>Usuario 10</div>
                                <br>
                                <img src="Imagenes/usuario.png">
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</body>
</html>