<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Bubalus Arnee - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilow.css') }}" type="text/css">
</head>
<body>
    <header class='header'>
        <div>

            <div class='c2'>
                <a href="/feed">
                    <img class='img-header' src="static/logo.png" alt="Social Bubalus Arnee"  title = "Inicio">
                </a>
            </div>

            <div class='c5'>
                
                <input type="search" placeholder = "Buscar"/>
            </div>

            <div class='c3-header'>
                <div>
                    <a href="/perfilusuario">
                        <img class="foto-perfil" src="static/usuario2.png" alt="Usuario">
                    </a>
                </div>
                <div class='txt_centrado'>
                    <div><label id=nombreUsuario>Nombre Usuario</label></div>
                
                    <div><a href="/configuracion">Configuración</a></div>
                </div>
                </div>

        </div>
        
    </header>
    <div class='fila1'> </div>
    
    <hr>
    <div>
        <div>
            <h2>Dashboard Administrativo</h2>
        </div>
        <br>
        <div class='c025'>&nbsp</div>
        <div class='c45'>
            <div>
                <h3>KPI's</h3>
            </div>
            <div class="caja">
                <div class='c25'>
                    <h4>Total Miembros</h4>
                    <div>n Miembros</div>
                </div>
                <div class='c25'>
                    <h4>Visitas</h4>
                    <div>n Visitas</div>
                </div>
                <div class='c25'>
                    <h4>Total Publicaciones</h4>
                    <div>n Publicaciones</div>
                </div>
                <div class='c25'>
                    <h4>Total Comentarios</h4>
                    <div>n Comentarios</div>
                </div>
            </div>
            <div class='fila'><br></div>
            <div class="canvas">
                <img src="static/dashboard.png" id="areaDeGraficas">
            </div>
        </div>
        <div class='c05'>&nbsp</div>
        <div class='c45'>
            <div>
                <h3>Usuarios</h3>
            </div>
            <table>
                <tr>
                    <td>Jerry Mattedi</td>
                    <td>dd/mm/aaaa</td>
                    <td>No. telefono</td>
                    <td><input type="button" value="Opciones" title="Cambiar Rol de Usuario" id="rol"></td>
                    <td><input type="button" value="Detalles" title="información del usuario" id="infouser"></td>
                </tr>
                <tr>
                    <td>ElianoraVasilov</td>
                    <td>dd/mm/aaaa</td>
                    <td>No. telefono</td>
                    <td><input type="button" value="Opciones" title="Cambiar Rol de Usuario" id="rol"></td>
                    <td><input type="button" value="Detalles" title="información del usuario" id="infouser"></td>
                </tr>
                <tr>
                    <td>Marcos Anguiano</td>
                    <td>dd/mm/aaaa</td>
                    <td>No. telefono</td>
                    <td><input type="button" value="Opciones" title="Cambiar Rol de Usuario" id="rol"></td>
                    <td><input type="button" value="Detalles" title="información del usuario" id="infouser"></td>
                </tr>
                <tr>
                    <td>Alvis Daen</td>
                    <td>dd/mm/aaaa</td>
                    <td>No. telefono</td>
                    <td><input type="button" value="Opciones" title="Cambiar Rol de Usuario" id="rol"></td>
                    <td><input type="button" value="Detalles" title="información del usuario" id="infouser"></td>
                </tr>
                <tr>
                    <td>Lissa Shipsey</td>
                    <td>dd/mm/aaaa</td>
                    <td>No. telefono</td>
                    <td><input type="button" value="Opciones" title="Cambiar Rol de Usuario" id="rol"></td>
                    <td><input type="button" value="Detalles" title="información del usuario" id="infouser"></td>
                </tr>
                
            </table>
        </div>
        <div class='c025'>&nbsp</div>
    </div>
<script src ="dashboard.js"></script>
</body>
</html>