<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Bubalus Arnee - Dashboard</title>
    <link href="estilo.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class='header'>
        <div>

            <div class='c2'>
                <a href="home.html">
                    <img class='img-header' src="Imagenes/logo.png" alt="Social Bubalus Arnee"  title = "Inicio">
                </a>
            </div>

            <div class='c5'>
                
                <input type="search" placeholder = "Buscar"/>
            </div>

            <div class='c3-header'>
                <div>
                    <img class="foto-perfil" src="Imagenes/usuario.png" alt="Usuario">
                    
                </div>
                <div class='txt_centrado'>
                    <div>Nombre Usuario</div>
                
                    <div><a href="configuracion.html">Configuración</a></div>
                </div>
                </div>

        </div>
        
    </header>
    <div class='fila'> </div>
    
    <hr>
    <div>
        <div>
            <h2>Dashboard Administrativo</h2>
        </div>
        <br>
        <div class='c5'>
            <div class="caja">
                <div class='c25'>Total Miembros</div>
                <div class='c25'>Total Visitas</div>
                <div class='c25'>Total Publicaciones</div>
                <div class='c25'>Total Comentarios</div>
            </div>
            <div class="canvas">
                <canvas id="areaDeGraficas"> </canvas>
            </div>
        </div>
        <div class='c5'>
            
        </div>
    </div>

</body>
</html>