<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Bubalus Arnee - Detalle Post</title>
    <link href="estilo.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class='header'>
        <div>

            <div class='c2'>
                <a href="home.html">
                    <img class='img-header' src="Imagenes/logo.png" alt="Social Bubalus Arnee"  title = "Inicio">
                </a>
            </div>

            <div class='c5'>
                
                <input type="search" placeholder = "Buscar"/>
            </div>

            <div class='c3-header'>
                <div>
                    <img class="foto-perfil" src="Imagenes/usuario2.png" alt="Usuario">
                    
                </div>
                <div class='txt_centrado'>
                    <div><label id=nombreUsuario>Nombre Usuario</label></div>
                
                    <div><a href="configuracion.html">Configuración</a></div>
                </div>
                </div>

        </div>
        
    </header>
    <div class='fila1'> </div>
    
    <hr>
    
    <div>
        <div>
            <h2>Detalle del Post</h2>
        </div>
        <br>
        <div class='c05'>&nbsp;</div>
        <div class='c90'>
            <div>
                <h3>Usuario X</h3>
            </div>
            <div class='caja'>
                <img src="imagenes/montana.png" alt="Social Bubalus Arnee" class='img-publicacion'>
            </div>
            <div class=".contenedor-descripcion">
                <h4>Descripcion: Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolores quibusdam quam. Voluptatibus itaque fugiat nesciunt asperiores, reprehenderit facere laboriosam voluptate esse nostrum quis unde dolore nemo aperiam numquam. Aliquam.</h4>
            </div>
        
        <div class='c100'>
            <div>
                <h3>Comentarios</h3>
            </div>
            <table>
                <tr>
                    <td>Jerry Mattedi</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus debitis unde libero odit cupiditate! Ut, aspernatur hic ullam sit voluptatum sapiente, natus doloremque veniam consequatur vel beatae! Ipsa, quidem id.</td>
                    <td>dd/mm/aaaa</td>
                    <td><input type="button" value="Opciones" title="Cambiar Rol de Usuario" id="rol"></td>
                </tr>
                <tr>
                    <td>ElianoraVasilov</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus debitis unde libero odit cupiditate! Ut, aspernatur hic ullam sit voluptatum sapiente, natus doloremque veniam consequatur vel beatae! Ipsa, quidem id.</td>
                    <td>dd/mm/aaaa</td>
                    <td><input type="button" value="Opciones" title="Cambiar Rol de Usuario" id="rol"></td>
                </tr>
                <tr>
                    <td>Marcos Anguiano</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus debitis unde libero odit cupiditate! Ut, aspernatur hic ullam sit voluptatum sapiente, natus doloremque veniam consequatur vel beatae! Ipsa, quidem id.</td>
                    <td>dd/mm/aaaa</td>
                    <td><input type="button" value="Opciones" title="Cambiar Rol de Usuario" id="rol"></td>
                </tr>
                <tr>
                    <td>Alvis Daen</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus debitis unde libero odit cupiditate! Ut, aspernatur hic ullam sit voluptatum sapiente, natus doloremque veniam consequatur vel beatae! Ipsa, quidem id.</td>
                    <td>dd/mm/aaaa</td>
                    <td><input type="button" value="Opciones" title="Cambiar Rol de Usuario" id="rol"></td>
                </tr>
                <tr>
                    <td>Lissa Shipsey</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus debitis unde libero odit cupiditate! Ut, aspernatur hic ullam sit voluptatum sapiente, natus doloremque veniam consequatur vel beatae! Ipsa, quidem id.</td>
                    <td>dd/mm/aaaa</td>
                    <td><input type="button" value="Opciones" title="Cambiar Rol de Usuario" id="rol"></td>
                </tr>
                
                
            </table>
        </div>
        <div class='c025'>&nbsp</div>
    </div>

</body>
</html>