<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Bubalus Arnee - Dashboard</title>
    <link href="estilo.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class='header'>
        <div>

            <div class='c2'>
                <a href="home.html">
                    <img class='img-header' src="Imagenes/logo.png" alt="Social Bubalus Arnee"  title = "Inicio">
                </a>
            </div>

            <div class='c5'>
                
                <input type="search" placeholder = "Buscar"/>
            </div>

            <div class='c3-header'>
                <div>
                    <img class="foto-perfil" src="Imagenes/usuario2.png" alt="Usuario">
                    
                </div>
                <div class='txt_centrado'>
                    <div><label id=nombreUsuario>Nombre Usuario</label></div>
                
                    <div><a href="configuracion.html">Configuración</a></div>
                </div>
                </div>

        </div>
        
    </header>
    <div class='fila1'> </div>
    
    <hr>
    <div>
        <div>
            <h2>Feed</h2>
        </div>
        <br>

        <div class='c05'>&nbsp;</div>
        <div class='c90'>
            <div>
                <h3 class="usuarios-feed"><label>Usuario X</label></h3>
            </div>
            <div class="caja">
                <div class='c6'>
                    <img class="foto-principal" src="Imagenes/montana.png">
                </div>
                <div class='c4'>
                    <div><img src="Imagenes/montana.png" class='img-secundaria'></div>
                    <div><img src="Imagenes/montana.png" class='img-secundaria'></div>
                </div>
            </div>
            <div class='fila'><br></div>
            
        </div>
    </div>

</body>
</html>