<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Bubalus Arnee - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilow.css') }}" type="text/css">
</head>
<style>

</style>
<body>
    <div>
        <div>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Social Bubalus Arnee" class='logo_login'>
        </div>

        <br>

        <div class='contenedor'>
            
            <h2>Inicio de Sesión</h1>
            <form name = 'flogin' id = "flogin" action = "/" method = "POST" enctype = "multipart/form-data"> 
                <div class='input_text'>
                {{ form.nom}}
                </div>
                <br>
                <div class='input_text'>
                    <input type="password" name="contraseña" id="pwd" placeholder = "Contraseña">
                </div>
                <br>
                <div>
                    <div class='c075'>&nbsp;</div>
                    <a href="/feed">
                        <div class='c45'><input type="button" name="login" id="login" value = "Login"></div>
                    </a>
                    <a href="/registro">
                        <div class='c45'style = float="right"><input type="button" name="registro" id="registo" value = "Registrarse"></div>
                    </a>
                    <br>
                </div>
            <br>
            <br>

                <div class='link'>
                    <a href="file:/c:\html\index.htm">¿Olvidaste tu contraseña?</a>        
                </div>
            </form>
        </div>
        
    </div>
</body>
</html>