<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link href="estilo_fabian.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class='header'>
        <div class='c2'>
            <a href="home.html">
                <img class='img-header' src="Imagenes/logo.png" alt="Social Bubalus Arnee"  title = "Inicio">
            </a>
        </div>
        <div>
            <input type="search" placeholder = "Buscar"/>
        </div>

        <div class='c3-header'>
            <div>
                <img class="foto-perfil" src="Imagenes/usuario2.png" alt="Usuario">
            </div>
            <div class='txt_centrado'>
                <div><label id=nombreUsuario>Nombre Usuario</label></div>
            
                <div><a href="configuracion.html">Configuración</a></div>
            </div>
        </div>
    </header>

    <div class='fila1'> </div>

    <hr>

    <div class="contenedor5">
        <div class="contenedor5A">
            <div class="c8A-1">
                <img src="imagenes/usuario2.png" id="FigDePerfiles">
            </div>
            <div class="c8A-2">
                <div class="c8A-2A">
                    <label class="Letra">Usuario</label> 
                </div>
                <div class="c8A-2B">
                    <input type="button" name="editarperfil" id="editarperfil" value = "Editar Perfil">
                </div>
                <div class="c8A-2C">
                    <label class="Letra2">Nombre de Usuario</label> 
                </div>
                <div class="c8A-2D">
                    <label class="Letra2">Cumpleaños</label> 
                </div>
                <div class="c8A-2E">
                    <label class="Letra2">Descripción, redes...</label> 
                </div>
            </div>
        </div>

        <hr>

        <div class="contenedor5B">
            <div class="c9A">
                <div>
                    <img src="imagenes/uploads.png" id="uploads">
                </div>
                <div>
                    <img src="imagenes/uploads.png" id="uploads">
                </div>
                <div>
                    <img src="imagenes/uploads.png" id="uploads">
                </div>
                <div>
                    <img src="imagenes/uploads.png" id="uploads">
                </div>
                <div>
                    <img src="imagenes/uploads.png" id="uploads">
                </div>
            </div>
            <div class="c9A">
                <div>
                    <img src="imagenes/uploads.png" id="uploads">
                </div>
                <div>
                    <img src="imagenes/uploads.png" id="uploads">
                </div>
                <div>
                    <img src="imagenes/uploads.png" id="uploads">
                </div>
                <div>
                    <img src="imagenes/uploads.png" id="uploads">
                </div>
                <div>
                    <img src="imagenes/uploads.png" id="uploads">
                </div>
            </div>
        </div>
    </div>

</body>
</html>