<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Social Bubalus Arnees</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilow.css') }}" type="text/css">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<body>
    <div class="principal_registro">
        <img class='logo_registro' src="{{ url_for('static', filename='logo.png') }}"> 
        <div class="contenedor_registro">
            <h2>Regístrate para interactuar con tus amigos.</h2>
            <form name = "fregistro" id="fregistro" method="POST" action="/registro/">
                <div class="c05"></div>
                <div class='c3'>
                    <div class = 'fila'>{{ form.usr(size=40, minlength=8, maxlength=40) }} </div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>{{ form.pnombr }}</div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>{{ form.priapellido }}</div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>
                        <div class = 'c3'>Sexo</div>
                        <div class ='c7'>{{ form.sexo }}</div>
                    </div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>{{ form.telefono }}</div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>{{ form.cla }}</div>
                    <div class = 'fila'>&nbsp;</div>
                </div>

                <div class="c05">&nbsp;</div>
                <div class='c3'>
                    <div class = 'fila'>{{ form.mail }} </div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>{{ form.snombr }}</div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>{{ form.segapellido }}</div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>{{ form.pais }}</div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>
                        <div class = 'fila'> Fecha de Nacimiento</div>
                        <div class = 'fila'>{{ form.fechanac}}</div>
                    </div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>{{ form.ver }}</div>
                    <div class = 'fila'>&nbsp;</div>
                    
                </div>
                <div class="c05">&nbsp;</div>
                <div class='c3'>
                    <div class = 'fila'>
                        <img src="{{ url_for('static', filename='usuario2.png') }}" style="width: 150px; height: 150px; margin-bottom: 20px; border-radius: 20px; border: 2px solid; border: 2px solid rgb(171, 170, 172);"> 
                    </div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'></div>{{ form.fotoper }}</div>
                    <div class = 'fila'>&nbsp;</div>
                    
                </div>
                <div class = 'fila'>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>&nbsp;</div>
                    <div class = 'fila'>{{ form.politica}} {{ form.politica.label}}</div>
                    <div class = 'fila'>&nbsp;</div>
                </div>
                <div class = 'fila'>
                    <div class="c05">&nbsp;</div>
                    <div class = 'c4'>{{ form.btnRegistro }}</div>
                    <div class = 'c05'>&nbsp;</div>
                    <div class = 'c4'>
                        <a href="/">
                            <input type="button" name="cancelar" id="cancelar" value = "Cancelar" title = "Iniciar Sesión">
                        </a>
                    </div>
                </div>
            </form>
        </div>
        {% for msg in get_flashed_messages() %}
            <div class='mensaje'> {{ msg }}</div>
        {% endfor %}
    </div>
</body>

<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
    utilsScript:
    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>


</html>